.calculator {
    &__input {

    }

    &__textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 220px;
        border: 1px solid silver;
        border-radius: 4px;
    }
}